/* .skill-item {
    position: relative;
    text-align: center;
    background: linear-gradient(135deg, #393F46 0%, #202328 50%) no-repeat;
    background-clip: padding-box;
    border-color: transparent;
    border-radius: 1rem;
}

.skill-item::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 1px;
    content: "";
    background-color: #202328;
    border-radius: .85rem;
} */