@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #888;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-gray-800;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    @apply bg-[#0E1117] text-white m-0;
}

section{
    @apply content-center min-h-screen;
}

.section-header{
    @apply text-4xl font-semibold;
}

.section-subheader{
    @apply text-2xl font-semibold p-2;
}

.section-container{
    @apply bg-[#161B22] text-white rounded-xl max-w-[500px] m-2;
}

.section-content{
    @apply text-[#8b949e]
}

.skill-card-container{
    @apply grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-1;
}

.hover\:glow:hover {
    filter: drop-shadow(0px 0px 7px rgba(59, 130, 246, 0.5));
}

.group:hover .group-hover\:\-translate-y-1 {
    transform: translateY(-0.25rem);
}

.group:focus .group-focus\:pt-20 {
    padding-top: 5rem;
}

.animate-down {
    transform: translateY(250%) !important
}

.animate-up {
    transform: translateY(-250%) !important
}

.hidden {
    display: none;
}
