.experience-card {
    max-height: 85px;
    max-width: 380px;
    overflow: hidden;
    transition-property: all;
    transition-duration: 0.60s;
    transition-timing-function: cubic-bezier(1, 1, 1, 1);
}

.experience-card--large {
    max-height: 115px;
}

.experience-card-active {
    /* width: 400px; */
    max-height: 800px;
}

.experience-card .hidden {
    display: none;
}